/**
 *
 * {{ properCase name }}
 *
 */

import React, { {{{ type }}} } from 'react';
//import PropTypes from 'prop-types';
//import './{{ properCase name }}.css';

class {{ properCase name }} extends {{{ type }}} {

  constructor(props){

    super(props);

    this.state = {
    }
  }

  render() {
    return (
      <div>New Container: {{ properCase name }}</div>
    );
  }
}

{{ properCase name }}.propTypes = {

};

export default {{ properCase name }};
