/**
 *
 * {{ properCase name }}
 *
 */

import React from 'react';
//import PropTypes from 'prop-types';
//import './{{ properCase name }}.css';

function {{ properCase name }}(props) {
  return (
      <div>New Stateless Contianer: {{ properCase name }}</div>
  );
}

{{ properCase name }}.propTypes = {

};

export default {{ properCase name }};
