/**
*
* {{ properCase name }}
*
*/

import React, { {{{ type }}} } from 'react';
import control from '../../utils/control';
import db from '../../utils/db';

//import TextInput from '../../components/TextInput/TextInput';
//import NumberInput from '../../components/NumberInput/NumberInput';
import ErrorAlert from '../../components/ErrorAlert/ErrorAlert';

//import './{{ properCase name }}.css';


function returnFormData(){
  return {
    //Flattened Schema
  };
}

function mapStateToSchema(formData){
  return {
    //Schema Obj
  };
}

class {{ properCase name }} extends {{{ type }}} {

  constructor(props){

    super(props);

    this.state = {
      error: "",
      formData: returnFormData()
    }
  }

  handleSubmit(event){

    event.preventDefault();

    //Map state to obj
    const formData = this.state.formData;
    const mappedData = mapStateToSchema(formData)

    db.POST("/api-endpoint",mappedData).then((succ) => {
      this.resetForm();
    },(err = {}) => {
      let error = control.getErrorMessage(err);
      this.setState({ error });
    });
  }

  resetForm(){
    this.setState(state => ({
      error: "",
      formData: returnFormData()
    }));
  }

  render() {
    const formData = this.state.formData;
    
    return (
      <div>
        <div className="form-header">
          <h2>{{ properCase name }}</h2>
          <p>Some information about this form</p>
        </div>

        <form onSubmit={ this.handleSubmit.bind(this) }>
          
          <div className="form-divider">
            
          </div>

          { this.state.error && <ErrorAlert error={this.state.error} /> }

          <button type="submit" className="btn btn-primary">Submit</button>
          <button type="button" className="btn" onClick={this.resetForm.bind(this)}>Reset</button>
        </form>
      </div>
    );
  }
}

{{ properCase name }}.propTypes = {

};

export default {{ properCase name }};
